@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
     url("./fontFamily/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 100%;
    border-radius: 25px;
    background: #F6F6F6;
    margin-top: 45px;
    padding: 56px;
}

.card{
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    cursor: pointer;
}

.card-img{
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(65%);
  
}

.card-text{
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    bottom: 20px;
    z-index: 1;  
}

.card-title{
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 40px;
    text-align: start;
    color: #fff;    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-wrap: wrap;  
    margin: 5px;
}

/*************************************************************Media queries*************************************************/

@media screen and (max-width: 768px){
    .cards-container{
        background: none;
        padding: 0;
    }

    .card, .card-link{
        width: 335px;
        height: 255px;
    }
    

    .card-text{
        width: 295px;
        bottom: 7px;
    }
}