@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.carousel-container{
    overflow: hidden;
}

.slide{
    position: relative;
}


.slides-fade{
    position: relative;
    width: 100%;
}

.slideImg{
    filter: brightness(65%);
}

.slide-number{
    position: absolute;
    z-index: 100;
    top: 370px;
    left: 49%;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500; 
}

.previous-arrow-phone, .next-arrow-phone{
    display: none;
}

.arrows-container{
    position: absolute;
    justify-content: space-between;
    top: 38%;
    display: flex;
    width: 100%;
}

.previousDiv{
    display: flex;
    justify-content: flex-start;
}

.nextDiv{
    display: flex;
    justify-content: flex-end;
}

img.previous-arrow, img.next-arrow{
    cursor: pointer;
    width: 48px !important;
    height: 80px !important;
    padding: 16px;
}

/*************************************************************Media queries*************************************************/
@media screen and (max-width: 1025px){
    .previous-arrow-phone,.next-arrow-phone{
        display: block;
    }

    .previous-arrow, .next-arrow{
        display: none;
    }

    .arrows-container{
        position: absolute;
        justify-content: space-between;
        top: 42%;
        display: flex;
        width: 100%;
    }
    
    .previousDiv{
        display: flex;
        justify-content: flex-start;
    }
    
    .nextDiv{
        display: flex;
        justify-content: flex-end;
    }
    
    img.previous-arrow-phone, img.next-arrow-phone{
        cursor: pointer;
        width: 35px !important;
        height: 36px !important;
        padding: 16px;
    }
}

@media screen and (max-width: 768px){
    .slideImg{
        width: 100%;
        height: 255px;
        object-fit: cover;
    }

    .slide-number{
        width: 100%;
        top: 220px;
        left: 0px;
    }

    .previous-arrow-phone,.next-arrow-phone{
        display: block;
    }

    .previous-arrow, .next-arrow{
        display: none;
    }

    .arrows-container{
        position: absolute;
        justify-content: space-between;
        top: 42%;
        display: flex;
        width: 100%;
    }

    .previousDiv{
        display: flex;
        justify-content: flex-start;
    }
    
    .nextDiv{
        display: flex;
        justify-content: flex-end;
    }
    
    img.previous-arrow-phone, img.next-arrow-phone{
        cursor: pointer;
        width: 26px !important;
        height: 27px !important;
        padding: 5px;   
    }
}