@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.carousel-container{
    overflow: hidden;
}

.slides-fade{
    position: relative;
    width: 100%;
    height: 415px;
}

.slideImg{
    filter: brightness(65%);
}

.slide-number{
    position: absolute;
    z-index: 100;
    top: 370px;
    left: 49%;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500; 
}

.previous-arrow-phone, .next-arrow-phone{
    display: none;
}

img.previous-arrow{
    position: absolute;
    top: 380px;
    left: 8%;
    cursor: pointer;
    width: 48px !important;
    height: 80px !important;
}
img.next-arrow{ 
    position: absolute;
    top: 380px;
    right: 8%;
    cursor: pointer;
    width: 48px !important;
    height: 80px !important;
}
    
/*************************************************************Media queries*************************************************/

@media screen and (max-width: 768px){
    .slides-fade{
        width: 100%;
        height: 255px;
        object-fit: cover;
    }

    .slide-number{
        width: 100%;
        top: 220px;
        left: 0px;
    }

    .previous-arrow-phone,.next-arrow-phone{
        display: block;
    }

    .previous-arrow, .next-arrow{
        display: none;
    }

    img.previous-arrow-phone{
        position: absolute;
        width: 26px !important;
        height: 27px !important;
        top: 240px;
        left: 8%;
    }

    img.next-arrow-phone{ 
        position: absolute;
        width: 26px !important;
        height: 27px !important;
        top: 240px;
        right: 8%;
    }
}
