@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
     url("./fontFamily/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.carousel-container{
    overflow: hidden;
}

.slides-fade{
    position: relative;
    width: 1240px;
    height: 415px;
}

.slide-number{
    position: absolute;
    top: 370px;
    left: 49%;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500; 
}

.previous-arrow{
    position: absolute;
    top: 150px;
    left: 100px;
    cursor: pointer;
    width: 48px !important;
}
.next-arrow{ 
    position: absolute;
    top: 150px;
    right: 100px;
    cursor: pointer;
    width: 48px !important;
}
    
