@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h3{ 
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}

.dropDown{
    display: flex;
    flex-direction: column;
}

.dropDown-btn{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FF6060;
    background-color: #FF6060;
    border-radius: 10px;
    height: 40px;
    padding-right: 10px;
}

.dropDown-description{
    width: inherit !important;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.arrowUp{
    transition: transform .07s ease-in;
    transform: rotate(180deg);
}
