@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
   
   
.error-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 139px;    
    margin-top: 139px;
    margin-bottom: 139px;

}

.error-code{
    display: flex;
    justify-content: center;
    color: #FF6060;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 288px;
    font-weight: 700; 
    margin-top: 0;
    margin-bottom: 0;
}

.error-message{
    display: flex;
    justify-content: center;
}

.error-text{
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.error-link{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/*******************************************************Media queries******************************************************/

@media screen and (max-width: 768px){
    .error-page{
        gap: 113px;
    }

    .error-code{
        font-size: 96px;
    }

    .error-text{
        width: 260px;
        text-align: center;
        font-size: 18px;
    }

    .error-link{
        font-size: 14px;
    }
}