@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
     url("./fontFamily/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    margin-right: 6.5%;
    margin-left: 6.5%;
}



/*************************************************************Media queries*************************************************/

@media screen and (max-width: 768px){
    html, body{
        overflow-x: hidden;
    }

    #root{
        max-width: 100%;
    }
}