@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body{
    overflow-x: hidden; 
}

#root{
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

html, body{
    overflow-x: hidden; 
}

/*************************************************************Media queries*************************************************/
@media screen and (min-width: 1441px){
    html, body{
        overflow-x: hidden;
    }
    
    body{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    html, body{
        overflow-x: hidden;
    }

    #root{
        max-width: 100%;
    }
}