@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
     url("./fontFamily/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.tag-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF6060;
    border-radius: 10px;
    padding: 2px 15px 3px 15px;
    background: #FF6060;
}

.tag-text{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

/*************************************************************Media queries*************************************************/

@media screen and (max-width: 767px){
    .tag-text{
        font-size: 10px !important;
    }
}